<div class="container">
    <div class="secContainer">
      <form>
        <div class="mb-3">
            <label for="name" class="form-label email colorGrey mb-2"
              >Name :</label
            >
            <input type="name" class="form-control" id="name" required />
          </div>
        <div class="mb-3">
          <label for="email" class="form-label email colorGrey mb-2"
            >Email address :</label
          >
          <input type="email" class="form-control" id="email" required />
        </div>
        <div class="mb-4">
          <label for="password" class="form-label colorGrey mb-2"
            >Password     :</label
          >
          <input type="password" class="form-control" id="password" required />
        </div>
        <button type="submit" class="btn mb-3">Login</button>
  
        <a href="/logIn" class="link-offset-2 link-underline link-underline-opacity-0 colorGrey">Already have an account? <span class="registerText">LogIn</span></a>
      </form>
    </div>
  </div>
  