.container {
  width: 50%;
}

.title {
  width: 50%;
  margin: 0 auto;
  height: 7vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #323232;
  font-size: 25px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

label{
  font-size: 14px;
  margin-bottom: 3px;
}

.btn {
  width: 100%;
  padding: 10px 20px;
  color: white;
  border: none;
  background-color: #070606;
  font-weight: 500;
  margin-right: 3px;
}

.btn:hover {
  background-color: #b5b5bc;
  color: #070606;
  border: none;
}

.signinText{
  font-size: 13px;
}

span{
  font-size: 15px;
  color: rgb(64, 87, 234);
  cursor: pointer;
  margin-left: 2px;
  font-weight: 500;
}