<div>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h4 class="title">Register</h4>
      </div>
      <div class="card-body">
        <form (ngSubmit)="register()" #registerForm="ngForm">
          <div class="mb-3">
            <label for="name">Name :</label>
            <input
              type="text"
              [(ngModel)]="employee.name"
              id="name"
              name="name"
              required
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="position">Position</label>
            <input
              type="text"
              [(ngModel)]="employee.position"
              id="position"
              name="position"
              required
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="salary">Salary</label>
            <input
              type="number"
              [(ngModel)]="employee.salary"
              id="salary"
              name="salary"
              required
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="hire_date">Hire Date</label>
            <input
              type="date"
              [(ngModel)]="employee.hire_date"
              id="hire_date"
              name="hire_date"
              required
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="phone">Phone</label>
            <input
              type="text"
              [(ngModel)]="employee.phone"
              id="phone"
              name="phone"
              required
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="email">Email Address</label>
            <input
              type="email"
              [(ngModel)]="employee.email"
              id="email"
              name="email"
              required
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="password">Password</label>
            <input
              type="password"
              [(ngModel)]="employee.password"
              id="password"
              name="password"
              required
              class="form-control"
            />
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <button type="submit" class="btn" [disabled]="!registerForm.valid">
              Sign up
            </button>
          </div>
          <div class="signinText text-center">
            Already have an account? <span routerLink="/logIn">Sign in</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
