<!-- for admin screen navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="d-flex justify-content-between w-100">
      <a class="navbar-brand logoStyle" href="/admin"
        ><span class="text-danger">MSI</span> Restaurant</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button class="menuBtnStyle" type="button" routerLink="/addStaff">
          Register Member
        </button>
        <button class="menuBtnStyle" type="button" routerLink="/menu">
          Menu
        </button>
        <button class="menuBtnStyle" type="button" routerLink="/expenditure">
          Expenditure
        </button>
        <button class="menuBtnStyle" type="button" (click)="logOut()">
          LogOut<i class="fa-solid fa-arrow-right-from-bracket logoutIcon"></i>
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- caption -->
<div class="Capcontainer">
  <h1>Restaurant Staff Management</h1>
</div>

<!-- for table -->
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">position</th>
        <th scope="col">salary</th>
        <th scope="col">hire_date</th>
        <th scope="col">phone</th>
        <th scope="col">email</th>
        <th scope="col" class="actionBtn">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.hire_date }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.email }}</td>
        <td class="actionBtn">
          <button
            class="btnEdit"
            routerLink="/update-info/{{ employee.employee_id }}"
          >
            Edit<i class="fa-solid fa-pencil ms-2"></i>
          </button>
          <button
            class="btnDel"
            (click)="deleteOneEmployee(employee.employee_id)"
            [disabled]="employee.role === 0"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
