.navbar {
  /* background-color: rgba(244, 237, 229, 0.975); */
  background-color: #323233;
  padding:15px 25px;
}

.resName {
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn {
  border-radius: 10px;
  padding: 10px 25px;
  color: rgb(35, 32, 32);
  border: none;
  background-color: #ecebee;
  font-weight: 700;
}

.btn:hover {
  background-color:#1b1b1b;
  color:white;
  border: none;
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.imgContainer{
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img{
  width: 100%;
  height: 350px;
  border-radius: 10px;
}


.textBody {
  width: 100%;
  /* height: calc(100vh - 110px); */
  padding: 50px;
  height: 430px;
}

.admin_text {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  color:#1b1b1b;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.restaurantText {
  font-size: 50px;
  line-height: 90px;
  color:#1b1b1b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
