<div>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h4 class="title">Edit Section</h4>
      </div>
      <div class="card-body">
        <form (ngSubmit)="updateEmployee()">
          <div *ngIf="employee">
            <div class="mb-3">
              <label for="name">Name</label>
              <input
                type="text"
                [(ngModel)]="employee.name"
                id="name"
                name="name"
                required
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label for="position">Position</label>
              <input
                type="text"
                [(ngModel)]="employee.position"
                id="position"
                name="position"
                required
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label for="salary">Salary</label>
              <input
                type="number"
                [(ngModel)]="employee.salary"
                id="salary"
                name="salary"
                required
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label for="phone">Phone</label>
              <input
                type="text"
                [(ngModel)]="employee.phone"
                id="phone"
                name="phone"
                required
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label for="email">Email Address</label>
              <input
                type="email"
                [(ngModel)]="employee.email"
                id="email"
                name="email"
                required
                class="form-control"
              />
            </div>
            <div class="mb-3 d-flex justify-content-between">
              <button routerLink="/admin" class="btn btn-danger">Back</button>
              <div>
                <button
                  routerLink="/update-password/{{ employeeId }}"
                  class="btn btn-success"
                >
                  Change Password
                </button>
                <button type="submit" class="btn btn-success">Update</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
