<div class="backgroundScreen">
  <img src="/assets/images/background.jpg" alt="" class="background" />
  <div class="titleForm">
    <div class="titleInnerForm">
      <h3 class="title">{{ menuItem.name }}</h3>
    </div>
  </div>
</div>
<img [src]="menuItem.imageUrl" alt="" class="backgroundImg" />
<div class="body">
  <div class="d-flex justify-content-between">
    Catagory: {{ menuItem.category }}
    <div>price: {{ menuItem.price }}</div>
  </div>
  <hr />
  <div class="mt-3">
    {{ menuItem.description }}
  </div>

  <div class="action d-flex justify-content-between mt-3">
    <button class="btn blackColor me-2" type="button" routerLink="/menu">
      <i class="fa-solid fa-arrow-left me-2"></i>Back
    </button>
    <div>
      <button
        class="btn blackColor"
        (click)="editMenuItem(menuItem, menuItemForm)"
      >
        Edit
      </button>
      <app-menu-items
        #menuItemForm
        (formSubmit)="handleFormSubmit($event)"
      ></app-menu-items>
      <button class="btn blackColor ms-2">Delete</button>
    </div>
  </div>
</div>
