.secContainer {
  width: 500px;
  height: auto;
  background-color: #323233;
  padding: 20px 25px 50px;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgb(139, 136, 136);
}

.form-control {
  background-color: #F4F4F6;
  border: none;
  color: rgb(234, 230, 230);
}

.btn {
  width: 100%;
  padding: 10px 20px;
  color: white;
  border: none;
  background-color: #070606;
  font-weight: 500;
}

.btn:hover {
  background-color: #b5b5bc;
  color: white;
  border: none;
}

.colorGrey{
    color: rgba(238, 241, 245, 0.767);
}

.registerText{
    color: #3096ab;
}

.inputColor{
  color:#070606;
}

.registerText:hover{
    color:#e7e5ee;
}