<div>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h4 class="title">Log In</h4>
      </div>
      <div class="card-body">
        <form (ngSubmit)="logIn()" #loginForm="ngForm">
          <div class="mb-3">
            <label for="email" class="form-label email colorGrey mb-2"
              >Email address :</label
            >
            <input
              type="email"
              class="form-control inputColor"
              id="email"
              name="email"
              [(ngModel)]="credentials.email"
              required
            />
          </div>
          <div class="mb-4">
            <label for="password" class="form-label colorGrey mb-2"
              >Password :</label
            >
            <input
              type="password"
              name="password"
              class="form-control inputColor"
              id="password"
              [(ngModel)]="credentials.password"
              required
            />
          </div>
          <button type="submit" class="btn mb-3" [disabled]="!loginForm.valid">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

