<div class="container mt-5">
  <form>
    <div class="mb-3 input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Name</span>
      <input type="text" class="form-control" name="name" />
    </div>

    <div class="mb-3 input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Position</span>
      <input type="text" class="form-control" id="position" name="position" />
    </div>
    <div class="mb-3 input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">salary</span>
        <input type="text" class="form-control" id="salary" name="salary" />
      </div>
      <div class="mb-3 input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Email address</span>
        <input type="email" class="form-control" id="email" name="email" />
      </div>
      <div class="mb-3 input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Email address</span>
        <input type="email" class="form-control" id="email" name="email" />
      </div>
      <div class="mb-3 input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Email address</span>
        <input type="email" class="form-control" id="email" name="email" />
      </div>
      <div class="mb-3 input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Email address</span>
        <input type="email" class="form-control" id="email" name="email" />
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
