/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body{
    background-color: #f4f4f6;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

}