<div class="form-popup" *ngIf="isFormVisible">
  <div class="form-container">
    <h2 class="text-center">Menu Item</h2>
    
    <form (ngSubmit)="onSubmit()">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="menuItem.name"
        name="name"
        required
      />

      <label for="description">Description</label>
      <textarea
        id="description"
        [(ngModel)]="menuItem.description"
        name="description"
        required
      ></textarea>

      <label for="price">Price</label>
      <input
        type="text"
        id="price"
        [(ngModel)]="menuItem.price"
        name="price"
        required
      />

      <label for="category">Category</label>
      <input
        type="text"
        id="category"
        [(ngModel)]="menuItem.category"
        name="category"
        required
      />
      <label for="imageUrl">image</label>
      <div>
        <img [src]="imagePreview" alt="Image Preview" style="max-width: 200px; max-height: 200px;" />
      </div>
      <input type="file" (change)="onFileSelected($event)" />

      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" (click)="closeForm()" class="btn btn-danger">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
